name: basic output example

on: 
  workflow_dispatch:

jobs:
  echo_1:
    runs-on: ubuntu-latest
    steps:
      - name: Set the value
        id: step_one
        run: echo "FOO=BAR" >> $GITHUB_OUTPUT
      - name: Use it
        run: echo ${{ steps.step_one.outputs.FOO }}
